PORT=2650
DATA_DIR=/data
NODE_ENV=production
SUPER_ADMIN_USERNAME=admin

MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_ACCESS_KEY=omni
MINIO_SECRET_KEY=omni-secret-key
MINIO_BUCKET=omni-thumbs
MINIO_USE_SSL=false

MINIO_ROOT_USER=omni
MINIO_ROOT_PASSWORD=omni-secret-key
